<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="../assets/css/table.css" rel="stylesheet">
    <link href="../assets/css/btn.css" rel="stylesheet">
    <link href="../assets/css/menu_sidebar.css" rel="stylesheet">
    <link href="../assets/css/from.css" rel="stylesheet">
</head>
<body>

<div class="cp_navi">
    <ul>
        <li><a href="http://localhost:8080/index">Home</a></li>
        <li>
            <a href="http://localhost:8080/books">Books <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="http://localhost:8080/book/add">Add</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="http://localhost:8080/users">Users <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="http://localhost:8080/books">Add</a></li>
                </ul>
            </div>
        </li>
        <li><a href="http://localhost:8080/rental_histories">Rental Histories</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>

<form method="post" action="/book/add">
    <div class="form-inner">
        <h2>Add Book</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="title" id="title" placeholder="Title"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="authors" id="authors" placeholder="Authors"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="publisher" id="publisher" placeholder="Publisher"/>
            </div>
        </div>

        <div class="buttons">
            <div>
                <button type="button" name="clear" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add</button>
            </div>
        </div>
    </div>
</form>

<form>
    <table>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{ range .books }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Authors }}</td>
                <td>{{ .Publisher }}</td>
                <td>
                    <a href="/book/edit/{{.ID}}" class="btn-yellow">Edit</a>
                </td>
                <td>
                    <button type="submit"formmethod="delete" formaction="/book/delete/{{.ID}}" class="btn-blue" onClick="alert('本当に削除してよろしいですか？');">Delete</button>
                </td>
            </tr>
        {{end}}
    </table>
</form>


</body>
</html>
