<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link href="../assets/css/from.css" rel="stylesheet">
</head>
<body>

<form method="post" action="/book/edit_ok/{{.book.ID}}">
    <div class="form-inner">
        <h2>Edit Book</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="title" id="title" value="{{.book.Title}}" placeholder="Title"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="authors" id="authors" value="{{.book.Authors}}" placeholder="Authors"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="publisher" id="publisher" value="{{.book.Publisher}}" placeholder="Publisher"/>
            </div>
        </div>
        <p><input type="submit" value="Edit"></p>
    </div>
</form>
</body>
</html>