<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../assets/css/table.css" rel="stylesheet">
</head>
<body>

<table>
    <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Publisher</th>
    </tr>
    {{ range .books }}
        <tr>
            <td align="right" nowrap>{{ .Title }}</td>
            <td valign="top">{{ .Authors }}</td>
            <td valign="top">{{ .Publisher }}</td>
        </tr>
    {{end}}
</table>


</body>
</html>
