<link href="../assets/css/menu_sidebar.css" rel="stylesheet">

<div class="cp_navi">
    <ul>
        <li><a href="http://localhost:8080/index">Home</a></li>
        <li>
            <a href="http://localhost:8080/books">Books <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="#cat">cat</a></li>
                    <li><a href="#dog">dog</a></li>
                    <li><a href="#rabbit">rabbit</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="http://localhost:8080/uses">Users <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="#cat">cat</a></li>
                    <li><a href="#dog">dog</a></li>
                    <li><a href="#rabbit">rabbit</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>